.metrics-cards {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;

  .metric {
    flex: 1;
    min-width: 150px;
    padding: 16px;
    text-align: center;
    font-size: 16px;
  }
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 20px 0;

  .chart {
    flex: 1;
    min-width: 300px;
  }
}